<html>
  <body style="font-family: Arial, sans-serif;">
    <header style="background: rgb(255, 163, 237); padding: 1rem; text-align: center;">
      Code Jams
    </header>
    <main style="padding: 20px;">
      <p>Hello {{name}},</p>
      <p>We've received your application! We will begin accepting applications shortly.</p>
    </main>
    <footer style="padding: 20px;">
      <p><a href="https://discord.gg/P5PsDR6G7W">SF Hacks Discord</a></p>
      <p><a href="https://www.instagram.com/sf.hacks/?hl=en">Instagram</a></p>
      <p><a href="https://solo.to/sfhacks">More socials on Solo</a></p>
    </footer>
  </body>
</html>
